extends base


block content 
    video(src=`/${video.fileUrl}`, controls) 
    div
        p=video.description
        small=video.createdAt
        br
        if owner 
            a(href=`/users/${owner._id}`) #{owner.userName}의 Profile &rarr;
    if String(loggedInUser._id)===String(video.owner)
        a(href=`${video.id}/edit`) Edit Video
        br
        a(href=`${video.id}/delete`) Delete Video

