extends base


block content 
    video(src=`/${video.fileUrl}`, controls) 
    div
        p=video.description
        small=video.createdAt
        br  
        a(href=`/users/${video.owner._id}`) Uploaded by #{video.owner.userName}
    if String(loggedInUser._id)===String(video.owner._id)
        a(href=`${video.id}/edit`) Edit Video
        br
        a(href=`${video.id}/delete`) Delete Video

